/* Global Styling */
* {
  box-sizing: border-box;
}

section {
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #e8daf7;
  color: black;

}

/* Footer Styling */
footer {
  background-color: #121111;
  padding: 40px 100px;
  color: white;
}

.insta {
  width: 18px;
  margin-right: 10px;
}

.foot-logo {
  width: 20px;
}

.for-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  align-items: center;
  padding: 7px;
}

.foot1 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
}

.foot-links a {
  color: rgb(216, 214, 214);
  text-decoration: none;
  margin-left: 50px;
  font-size: 14px;
}

.foot-links a:first-child {
  color: #b187d8;
}

.foot-links a:hover {
  color: #8046b7;
  text-decoration: none;
}

.logo-content {
  display: flex;
}

.for-text {
  margin-left: 10px;
}

.for-text p {
  font-style: italic;
  font-size: 10px;
  margin-top: -4px;
  color: #e8daf7;
}

.foot2 {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.copy {
  color: lightgray;
  font-size: 10px;
  margin-top: -10px;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 1000px) {
  footer {
    padding: 10px 40px;
  }

  .foot-links a {
    margin-left: 6px;
    font-size: 10px;
  }

  .foot-logo {
    width: 13px;
  }

  .for-logo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    align-items: center;
    padding: 6px;
  }

  .for-text p {
    font-style: italic;
    font-size: 8px;
    margin-top: 2px;
    color: #e8daf7;
  }

  .copy {
    font-size: 8px;
  }
}
