.MainContainer {
  padding: 100px 80px 120px 80px;
  /* background-color: white; */
}

.board {
  text-align: center;
}
.directorCard {
  width: 16%;
  /* border: 1px solid gray; */
  height: auto;
  margin: 20px 130px 20px 5px;
  text-align: center;
}
.directorCard:hover{
  box-shadow: 9px 9px 22px  5px rgb(199, 162, 201);

}
.directorCard img {
  width: 100%;
  height: 200px;
}
.directorCard div{
  /* width: 10%; */
  text-align: center;
}
.directorCard p{
  font-size: 12px;
}
.container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  margin: 0 auto;
  text-align: center;
  padding: 0 0 0 120px;
  height: 400px; /* height is required for vertical centering */
}
/* .card3{
  margo
} */

 @media (max-width: 1000px) {
      .container {
  display: block;
  justify-content: center; 
  align-items: center;     
  margin: 0 auto;
  text-align: center;
  /* padding: 0 0 0 10px; */
  height: 400px; 
}
.directorCard img {
  width: 100%;
  height: 200px;
}
.directorCard {
  width: 100%;
  /* border: 1px solid gray; */
  height: auto;
  margin: 0 auto;
  /* margin: 20px 10px 20px 5px; */
  text-align: center;
}
            
    }