.payment-section{
    padding:150px 50px 150px 50px ;
    /* background-color: whitesmoke; */
    /* height: 500px; */
}

button{
 
    background:#001A33;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 4px;
    cursor : pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;

}
.paystack-img{
    width: 20px;
}
footer{
   margin-top: 30px;
}
h1{
    /* color:red; */
    font-size: 30px;
}
.paym{
    font-weight: 50;
}
.separator-text{
    font-size: 30px;
}
.account-number{
    color: red;
    font-size: 50px;
}
.account-number p,h3{
    font-weight: bold;
}