.section2 {
  font-weight: lighter;
  font-family: sans-serif;

  padding: 100px 80px 100px 80px;
  background-color: whitesmoke;
  overflow-x: hidden;
}

.three-aspects {
  display: flex;
  /* padding: 20px; */

  justify-content: space-between;
  /* grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
  align-items: stretch; */
}
.aspect-img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-radius: 13px 13px 0px 0px;
}
.women-text {
  font-size: 27px;
}
.card {
  border: 1px solid #7d33c3;
  width: 27%;
  border-radius: 13px;
  cursor:default;
  
  /* height: 400px; */
  /* padding: 20px; */
}
.card-text {
  padding: 20px;
  /* background-color: red; */
  margin-top: -7px;
}

.mission{
  background-color: #E6E6FA;
  /* color: white; */
  /* color: #7d33c3; */
}
.mission:hover{
  background-color: #b4b4ee;
}
.vision{
  background-color: #C8A2C8;
}
.vision:hover{
  background-color: #c580c5;
}
.upliftment{
  background-color: #ca8af5;
}
.top-text{
  text-align: center;
  padding: 50px;
}






@media (max-width: 1000px) {
  .section2 {
    width: 100%;
    text-align: center;
    padding: 10px 40px 40px 40px;
  }
  .section2-text {
    margin-left: 0px;
    margin-top: -10px;
  }
  .about-text {
    text-align: center;
    font-size: 18px;
  }
  .three-aspects {
    display: inline;
    justify-content: center;
    /* grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
    align-items: stretch; */
  }
  .card {
    /* border: 2px solid red; */
    margin-bottom: 30px;

    width: 100%;
  }
}
